* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

body{
  background-color: #bbc;
}

.users, .donation_requests, .logistic_management, .analytics, .create_donation_request{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #bbc;
}

.test_class, .locations, .volunteer_roles, .profile, .volunteer_applications, .my_donation_requests{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #bbc;
}

.volunteers, .administrators, .donation_requests2{
  width: 50%;
  position:absolute;
  top: 25%;
  left: 25%;
}

.view_volunteer_app, .view_donation_request{
  width: 70%;
  position:absolute;
  top: 30%;
  left: 45%;
}


th, td{
   padding: 12px 6px;
}
